@model IEnumerable<BLINDRIVER_TEAM4.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Content)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberInvited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberGoing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EnteredDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Place)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Member.Username)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberInvited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberGoing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberDeclined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EnteredDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Member.Username)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
