@model BLINDRIVER_TEAM4.Models.DoctorAvailableTime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoctorAvailableTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvailableFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableUntil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorAvailableDate.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorAvailableDate.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
