<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <title>Blind River Hospital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" /><!--fontawasome icon-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet"><!--Google font-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <header class="container">
            <div class="row">
                <div id="header_logo" class="col-md-4">
                    <h1 class="hidden">Blind River Hospital</h1>
                    <a href="index.html"><img src="~/image/logo.jpg" id="header_logo_img" alt="Blind River logo"></a>
                </div>
                <!--END header_logo-->
                <div id="heder_login-box" class="col-md-offset-5 col-md-3">
                    @*<a href="#" class="header_btn">Sign up</a>*@
                    @*<a href="#" class="header_btn">Login</a>*@
                    @{
                        HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
                        if (authCookie == null)
                        {
                            @Html.ActionLink("Sign up", "Create", "Members", null, htmlAttributes: new { @class = "header_btn" })
                            @Html.ActionLink("Login", "Login", "Members", null, htmlAttributes: new { @class = "header_btn" })
                        }
                        else
                        {
                            FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
                            @Html.ActionLink("Profile", "Edit", "Members", new  { id = Convert.ToInt32(ticket.Name.Split('|')[1]) }, htmlAttributes: new { @class = "header_btn" })
                            @Html.ActionLink("Logout", "Logout", "Members", null, htmlAttributes: new { @class = "header_btn" })    
                            <p>Welcome back <strong>@ticket.Name.Split('|')[0]</strong></p>                       
                        }
                    }                  
                </div>
            </div>
            <!--/.row-->
            <div class="row">
                <nav id="header_nav" class="col-md-9 navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_nav_contents">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="header_nav_contents" class="collapse navbar-collapse">
                            <ul id="header_menu" class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Patient <span class="caret"></span></a>
                                    <ul class="child dropdown-menu">
                                        <li><a href="#">aaa</a></li>
                                        <li><a href="#">bbb</a></li>
                                        <li><a href="#">bbb</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Visitor</a></li>
                                <li><a href="#">Work with us</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">LTC</a></li>
                            </ul>
                            <form id="header_nav_search" class="navbar-form navbar-right" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                </div>
                                <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </nav>
                <!--/#header_nav-->
                <div id="header_donate" class="col-md-3">
                    <a href="#" class="header_donate_btn">Donate</a>
                </div>
                <!--/#header_donate-->
            </div>
            <!--/.row-->
        </header>

        <main class="container">
            <div id="main_breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Visitor</a></li>
                    <li class="active">Somepage</li>
                </ol>
                <!--/.breadcrumb-->
            </div>
            <!--/#main_breadcrumbs-->

            <section id="main_content">

                <!--PUT YOUR CONTENTS HERE!-->
                @RenderBody()
            </section>
            <!--/#main_content-->
        </main>
        <footer class="container sticky">
            <div class="row">
                <div id="footer_nav" class="col-md-9 row">
                    <div class="col-sm-3">
                        <h4>Patient</h4>
                        <ul>
                            <li>Doctor Search</li>
                            <li>Booking Form</li>
                            <li>Online Payment</li>
                            <li>ER wait Time</li>
                            <li>Patient Resister</li>
                            <li>Patient Login</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>Visitors</h4>
                        <ul>
                            <li>Visiting Guide</li>
                            <li>Facilities Info</li>
                            <li>Parking Info</li>
                            <li>Accessibility</li>
                            <li>Self Dignosis</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>About us</h4>
                        <ul>
                            <li>Accreditation</li>
                            <li>Staffs</li>
                            <li>History</li>
                            <li>Vision & Mission</li>
                            <li>Annual Reports</li>
                            <li>News release</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h4>Work with us</h4>
                        <ul>
                            <li>Careers</li>
                            <li>Volunteer</li>
                        </ul>
                        <h4>Features</h4>
                        <ul>
                            <li>Contact us
                            <li>
                            <li>Donate</li>
                            <li>Long Time Care</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
                <div id="footer_sns-box" class="col-md-3">
                    <h4>Follow Us</h4>
                    <ul class="nav-pills pull-left">
                        <li><a href="#"><i class="fa fa-facebook-official fa-3x fa-fw" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-3x fa-fw" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram fa-3x fa-fw" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <!--/#footer_sns-box-->
                <div id="footer_copy" class="col-xs-12">
                    <p><small>&copy; 2017 Team 4. Blind River Hospital-demo</small></p>
                </div>

            </div>
            <!--/.row-->
        </footer>
        <!--/footer #container-->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
