@model IEnumerable<BLINDRIVER_TEAM4.Models.Member>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Member List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*@using (Html.BeginForm())
{
    <p>
        Search Term: @Html.TextBox("SearchString", null, new { @class = "form-control", style = "display: inline;" })
        <input class="btn btn-success" type="submit" value="Search" />
    </p>
}*@

<p>Search Term: <input type="text" id="admin-search" class="form-control" style="display:inline;" /> <button onclick="search()" class="btn btn-success">Search</button></p>
<script>
    $(document).ready(function () {
        $("#admin-search").keyup(function (event) {
            if (event.keyCode == 13) {
                search();
            }
        });
    });
    
    function search() {
        var search = $("#admin-search").val();
        $.ajax({
            url: "@Url.Action("SearchUsers", "MembersAdmin")",
            type: "GET", //
            data: { searchString: search },
            success: function (result) {
                $("#index-admin").html(result);
            }
        });
    }
</script> 
<table class="table" id="index-admin">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.JoinedDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.JoinedDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Contains("admin") &&
                Convert.ToInt32(FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name.Split('|')[1]) == 3)
            {
            @Html.ActionLink("Edit | ", "Edit", new { id = item.Id })
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Contains("admin") &&
                Convert.ToInt32(FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name.Split('|')[1]) == 3)
            {
                @Html.ActionLink(" | Delete", "Delete", new { id = item.Id })
            }
            
        </td>
    </tr>
}

</table>
