@model BLINDRIVER_TEAM4.Models.Event

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInvited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInvited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberGoing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberGoing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberDeclined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberDeclined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
